# Production Environment Variables
NEXT_PUBLIC_API_URL=https://suqly.com/api
NEXT_PUBLIC_APP_NAME=Suqly
NEXT_PUBLIC_APP_TITLE=Suqly - UAE Marketplace
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_ENABLE_ANALYTICS=true
NEXT_PUBLIC_ENABLE_SENTRY=true
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_ENV=production
